.main {
    height: var(--main-height);
    position: fixed;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
    z-index: 100;
    padding-left: 50px;
}

.light {
    background-color: lightsteelblue;
}

.dark {
    background-color: rgb(38, 38, 77);
}

.button {
    margin-left: 60%;
}